mixin nav-item(title, url)
	li(elem="item")&attributes(attributes)
		a(elem="link" href=(url?url:href))=title
		if block
			i(elem="item-icon")
				+svg('angle-down')
			ul(elem="sub-menu")
				block

mixin sub-item(title)
	li(elem="sub-item")&attributes(attributes)
		a(elem="sub-link" href=href)=title
		if block
			i(elem="item-icon")
				+svg('angle-down')
			block

mixin header
	header(block="header")
		.wrap
			.row.align-items-center
				.col-auto
					a(elem="logo" href="index.html")
						img(src="https://via.placeholder.com/135x60/fff/000?text=logo", alt="")
				.col.position-static
					nav(block="top-nav")
						ul(elem="list")
							+nav-item('О компании')
							//- +sub-item('ссылка 1')
							//- +sub-item('ссылка 1')
							//- +sub-item('ссылка 1')
							+nav-item('Новости')
							+nav-item('Акции')
							+nav-item('Статьи')
							+nav-item('Контакты')