- var href = 'javascript:void(0)';
- var img = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';
- var DATE = new Date();
- var time = DATE.getTime();
block vars
include components/_index
doctype html
html.no-js
	head
		meta(charset='utf-8')
		block title
			title dev
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name="theme-color" content="#373737")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(rel="icon" href="favicon.ico" type="image/x-icon")
		//- styles
		link(rel="stylesheet", href="styles/vendors.css")
		link(rel="stylesheet", href="styles/style.css?"+time)
		block style
		block script
	body
		// [if lte IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
			<![endif]
		.wrap-site(class=wrapClass)
			block header
				+header
			main.main
				block content
			block footer
				+footer

		.visuallyhidden(data-svg-path="img/theme/sprite.symbol.svg")

		//DELETEME
		script(src="//cdn.jsdelivr.net/gh/Antroll/demo-menu/dist/scripts/demo-menu.js" data-demo-data="demo/data.json" async defer)
		//.DELETEME

		script(src="scripts/vendors.js")
		script(src="scripts/main.js?"+time)
		block scripts
