.btn {
	@extend %link-clicker;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	height: 40px;
	min-width: 195px;
	padding: 0 20px;

	border: 1px solid rgba(#fff, 0);
	border-radius: 0;
	text-align: center;
	background: $color-dimmed;

	user-select: none;
	font-family: $font-1;
	letter-spacing: -0.04em;
	color: $color-text;
	cursor: pointer;
	text-decoration: none;
	font-size: 18px;

	box-shadow: none;
	transition: background 0.1s, color 0.1s, border 0.1s;
	&:hover{
		text-decoration: none;
		color: #000;
	}

	svg{
		display: inline-block;
		vertical-align: middle;
		transition: all 0.1s;
		fill: $color-text;
	}

	&--small{
		min-width: 0;
		height: rem(36, 16);
		line-height: rem(33, 16);
	}

	&--hollow-white,
	&--hollow{
		background: none;
		&:hover{
			background: darken($color-blue, 5%);
			color: #fff;
			border-color: rgba(#000, 0);
		}
		&:active{
			background: $color-blue;
			color: #fff;
			border-color: rgba(#000, 0);
		}
	}
	&--hollow{
		border-color: #DDDDDD;
		svg {
			fill: $color-text;
		}
	}
	&--hollow-white{
		color: #fff;
		border-color: #fff;
	}

	&--blue{
		background: $color-blue;
		color: #fff;
		svg{ fill: #fff; }
		&:hover{
			background: darken($color-blue, 5%);
			color: #fff;
		}
		&:active{
			background: $color-blue;
			color: #fff;
		}
	}

	&[disabled] {
		opacity: 0.5;
		cursor: not-allowed;
	}
	&--hover-hollow{
		&:hover{
			background: none;
			border-color: #DDDDDD;
			color: $color-text;
			svg{ fill: $color-text; }
		}
	}

	&--hover-blue{
		&:hover{
			background: $color-blue;
			border-color: rgba(#fff,0);
			color: #fff;
		}
		&:active{
			background: darken($color-blue, 5%);
		}
	}
}